@import url('https://fonts.googleapis.com/css2? family= Roboto+Condensed:ital,wght@0,700;1,300 & display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family:'Roboto Condensed', 'Lucida Sans', sans-serif ;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title{
    font-size: 4rem;
    font-weight: 500;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-top: 5px;
}

/*Seção de apresentação*/

#presentation{
    background-image: url(./Fundo2.jpg);
    background-size:cover;
    background-position: top center;
    position: center;
    z-index: 1;
}
#presentation h1{
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#presentation h1:nth-child(1){
    animation-delay: .8s;
}
#presentation h1:nth-child(2){
    animation-delay: 1.8s;
}#presentation h1:nth-child(3){
    animation: text_reveal_name 5s ease forwards;
    animation-delay: 2.8s;
}
#presentation .cta{
    display: inline-block;
    padding: 10px 30px;
    color: rgb(174, 10, 196);
    background-color: transparent;
    border: 2px solid rgb(165, 10, 144);
    font-size: 2rem;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .5  s ease;
    transition-property: background-color, color;
}
#presentation .cta:hover{
    color: white;
    font-weight: 700;
    background-color: rgb(139, 8, 118);
}
#presentation h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: rgb(107, 5, 138);
}
#presentation h1:nth-child(1) span{
    animation-delay: .5s;
}
#presentation h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#presentation h1:nth-child(3) span{
    animation-delay: 2.5s;
}
#presentation ::after{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
    z-index: -1;
}
/*Seção de Portfolio*/

#portfolio .portfolio {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px, 0;
}

#portfolio .portfolio-header h1 {
    margin-bottom: 50px;
}
#portfolio .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#portfolio .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#portfolio .project-info {
    padding: 30px;
    flex-basis: 50%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, rgb(248, 167, 237) 0%,rgb(27, 1, 24) 0% );
    color: white;
}

#portfolio .project-info h1{
    font-size: 4rem;
    font-weight: 500px;
}

#portfolio .project-info h2{
    font-size: 1.8rem;
    font-weight: 500px;
    margin-top: 10px;
}

#portfolio .project-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#portfolio .project-img::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: linear-gradient(60deg, rgb(175, 171, 175) 0%,rgb(39, 39, 39) 0% );
    opacity: 0.7;
}
#portfolio .project-img img{
    transform: 0.5s ease trasform;
}

#portfolio .project-item:hover .project-img img{
    transform: scale(1.1);
}

/*keyframes*/
@keyframes text_reveal{
    100%{
        color:white;
    }
}
@keyframes text_reveal_name{
    100%{
        color:#d83bb6;
        font-variant: initial;
        font-weight: 500px;
    }
}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
/* Media Query */
@media only screen and (min-width:768px){
    #portfolio .project-item{
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #portfolio .all-projects .project-info{
        height: 100%;
    }
    #portfolio .all-projects .project-img{
        height: 100%;
    }
    /* Este é comando que intercala as imagens e textos */
    #portfolio .project-item:nth-child(even){
        flex-direction: row-reverse;
    }
}





/* PALETA DE CORES */

/* SCSS RGB 
$frostbite: rgba(215, 65, 167, 1);
$russian-violet: rgba(43, 17, 85, 1);
$carolina-blue: rgba(83, 152, 190, 1);
$orange-yellow-crayola: rgba(242, 205, 93, 1);
$sunray: rgba(222, 165, 75, 1);*/

/* SCSS Gradient 
$gradient-top: linear-gradient(0deg, #d741a7ff, #2b1155ff, #5398beff, #f2cd5dff, #dea54bff);
$gradient-right: linear-gradient(90deg, #d741a7ff, #2b1155ff, #5398beff, #f2cd5dff, #dea54bff);
$gradient-bottom: linear-gradient(180deg, #d741a7ff, #2b1155ff, #5398beff, #f2cd5dff, #dea54bff);
$gradient-left: linear-gradient(270deg, #d741a7ff, #2b1155ff, #5398beff, #f2cd5dff, #dea54bff);
$gradient-top-right: linear-gradient(45deg, #d741a7ff, #2b1155ff, #5398beff, #f2cd5dff, #dea54bff);
$gradient-bottom-right: linear-gradient(135deg, #d741a7ff, #2b1155ff, #5398beff, #f2cd5dff, #dea54bff);
$gradient-top-left: linear-gradient(225deg, #d741a7ff, #2b1155ff, #5398beff, #f2cd5dff, #dea54bff);
$gradient-bottom-left: linear-gradient(315deg, #d741a7ff, #2b1155ff, #5398beff, #f2cd5dff, #dea54bff);
$gradient-radial: radial-gradient(#d741a7ff, #2b1155ff, #5398beff, #f2cd5dff, #dea54bff);*/
